@(connected: Option[String])(content: Html)

@main("chat"){
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/chatRoomMain.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <div class="topbar">
            <div class="fill">
                <div class="container">
                    @connected.map { username =>
                        <p class="pull-right">
                            Logged in as @username —
                            <a href="@routes.ChatRoomController.index()">Disconnect</a>
                        </p>
                    }.getOrElse {
                       <form action="@routes.ChatRoomController.chatRoom(None)" class="pull-right">
                            <input id="username" name="username" class="input-small" type="text" placeholder="Username">
                            <button class="btn" type="submit">Sign in</button>
                        </form>
                    }

                </div>
            </div>
        </div>

        <div class="container">

            <div class="content">
                @content
            </div>

            <footer>
            </footer>

        </div>
}