@(logType: Int)
@main("logView"){
<script type="text/javascript" src='@routes.Assets.at("javascripts/logView.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/dataTables/jquery.dataTables.min.js")'></script>
<link rel="stylesheet" type="text/css" href='@routes.Assets.at("stylesheets/dataTables/jquery.dataTables.min.css")' />
<div>
    <span id="logType" style="visibility:hidden">@logType</span>
    <div id="TableDiv" style="margin-left:15px; width:90%;">
        <table id="logTable" class="display" style="width:100%;">

        </table>
    </div>
</div>
}
