logs
project/project
project/target
target
*/target
*/*/target
*/*/target
*/*/*/target
tmp
.history
dist
/.idea
/*/.idea
/*/*/.idea
/*.iml
*/*/*.iml
/out
/.idea_modules
*/.idea_modules
*/*/.idea_modules
/.classpath
*/.classpath
*/*/.classpath
/.project
*/.project
*/*/.project
/RUNNING_PID
/.settings
src/web-interface/db/webdb.db