extends layout

block content
  h1= title
  p Welcome to #{title}

  div(style='display:inline-block; background: black; border:0px solid black; border-radius: 10px; box-shadow: 0 5px 50px #333')
    canvas(id='loginCanvas', width='800', height='450')
    canvas(id='gameCanvas', width='800', height='450')

  div
    br
    input(type='text', class='form-control', id='input', size='80', placeholder='메시지를 입력하세요.')
    blockquote
      div(id='messages')

  script(src='gameClient.js')
  script(src='frameworks/cocos2d-html5/CCBoot.js')
  script(src='main.js')