doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    script(src='/javascripts/jquery-2.1.1.js')
    script(src='/javascripts/bootstrap.js')
    script(src='/javascripts/angular.js')
    script(src='/socket.io/socket.io.js')
  body
    block content